<div class="modal-content conf-modal">
    <div class="modal-header hr-divider">
        <h5 class="modal-title warningH5">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            Alert
        </h5>
    </div>
    <div class="modal-body warningBody">
        <p>Please take photo of doorjamb showing EPA Sticker is not present.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" ng-click="ok()">Ok</button>
    </div>
</div>