<header class="common">
    <div class="container-fluid">
        <div class="logo">
            <img src="rest/assets/images/logo.svg" alt="Carco">
        </div>
        <div ng-if="!Isdisable" class="pull-right hidden-xs">
                <!-- <div class="pull-right hidden-xs hide-mob"> -->
            <nav role="navigation" class="navbar mainmenu">
                <ul class="nav navbar-nav dropdown">

                    <li ng-repeat="tab in headerTabs" ng-class="{'disabled' : tab.disabledValue == true}" ng-if="showRoute">
                        <a ui-sref-active="active" ng-class="{ 'test': isActive(tab.route) }" ui-sref="{{tab.route}}">{{tab.title}}</a>
                    </li>

                    <li ng-click="navigateFAQ()" style="cursor: pointer;">
                        <a ui-sref-active="active" ng-class="{ 'test': isActive('inspectionPage.FAQ.preInsuranceFAQ') || isActive('inspectionPage.FAQ.windshieldFAQ') }">FAQ</a>
                    </li>

                    <li class="dropdown" ng-if="showRoute">
                        <a data-toggle="dropdown" class="dropdown-toggle avatar pr-0">
                            <span ng-if="userType == 'Insured'">Welcome {{FirstNameToDispaly}} {{LastNameToDispaly}}</span>
                            <span ng-if="userType == 'Inspector'">Welcome {{userEmail}}</span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li ng-repeat="item in welcomeDropDown" ng-click="onSubmitClear(item.title)">
                                <a ui-sref-active="active" ng-click="onSubmit(item.title)" ui-sref="{{item.route}}">
                                    <i class="fa {{item.faClass}} fa-lg mr-10 profile-icon"></i> {{item.title}}</a>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>