<div class="modal-content conf-modal">
    <div class="modal-header hr-divider">
        <h5 class="modal-title warningH5">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            Attention!
        </h5>
    </div>
    <div class="modal-body warningBody">
        <div ng-if="InspectionType.toLowerCase() === 'pre-inspection'">
            <p>Optional damage photo(s) were not selected. Please add, if applicable.</p>
            <p>Verify all photos are accurate before continuing as photos cannot be altered beyond this point.</p>
            <p>Do you wish to edit selected photos?</p>
        </div>
        <div ng-if="InspectionType.toLowerCase() === 'windshield'">
            <p>Optional windshield damage photo(s) were not selected. Please add, if applicable.</p>
            <p>Verify all photos are accurate before continuing as photos cannot be altered beyond this point.</p>
            <p>Do you wish to edit selected photos?</p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-no" ng-disabled="dataLoading" button-spinner="dataLoading" ng-click="no()">No</button>
        <button type="button" class="btn btn-sm btn-secondary" ng-click="yes()">Yes</button>
    </div>
</div>