<div class="modal-content conf-modal">
    <div class="modal-header hr-divider">
        <h5 class="modal-title warningH5">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            Alert
        </h5>
    </div>
    <div class="modal-body warningBody">
        <!-- <h4>{{modelBody}}</h4> -->
        <h4 ng-bind-html="modelBody"></h4>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" ng-click="ok()">Ok</button>
    </div>
</div>