<div class="faq mb-30">
    <section class="">
        <div class="container-fluid">
            <div class="col-lg-12 col-md-12 dashboard-widget">
                <div class="">
                    <div class="row-eq-height mt-5 clearfix">
                        <div class="col-lg-12 col-md-12 dashboard-widget">
                            <span class="headingColor">Frequently Asked Questions</span>
                        </div>
                    </div>

                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="javascript:;" data-toggle="collapse" data-target="#collapse1">Capturing Inspection Photo(s)</a>
                                </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <h6>How do I capture clear photo(s) of my vehicle?</h6>
                                    <p>Position your smart-phone or tablet in the Landscape (Horizontal) position; then, tap
                                        your screen to focus on vehicle and capture the photo(s). A CARCO pre-insurance inspection
                                        must include at LEAST the following three photographs: FRONT & DRIVER’S SIDE, REAR
                                        & PASSENGER SIDE, and EPA STICKER. See example photo(s) displayed below:</p>
                                    <div class="clearfix">
                                        <div class="photo-wrapper col-lg-3">
                                            <div class="img-title">
                                                <u>1) FRONT & DRIVER’S SIDE</u>
                                            </div>
                                            <img src="rest/assets/images/front-side.png" alt="FRONT & DRIVER’S SIDE" class="img-responsive">
                                        </div>
                                        <div class="photo-wrapper col-lg-3">
                                            <div class="img-title">
                                                <u>2) REAR & PASSENGER SIDE</u>
                                            </div>
                                            <img src="rest/assets/images/rear-side.png" alt="REAR & PASSENGER SIDE" class="img-responsive">
                                        </div>
                                        <div class="photo-wrapper col-lg-3">
                                            <div class="img-title">
                                                <u>3) EPA STICKER</u>
                                            </div>
                                            <img src="rest/assets/images/EPA.png" alt="EPA STICKER" class="img-responsive">
                                        </div>
                                    </div>
                                    <p>The FRONT & DRIVER’S SIDE should include the entire driver side of the vehicle (bumper
                                        to bumper) showing entire front bumper.</p>
                                    <p>The REAR & PASSENGER SIDE should include the entire passenger side (bumper to bumper)
                                        showing entire rear bumper.</p>

                                    <p>If you are submitting an inspection for a vehicle registered in the state of
                                        <strong>Massachusetts,</strong>
                                        you will be required to take the following vehicle photo angles:</p>

                                    <div class="clearfix">
                                        <div class="photo-wrapper col-lg-3">
                                            <div class="img-title">
                                                <u>1) FRONT & PASSENGER SIDE</u>
                                            </div>
                                            <img src="rest/assets/images/FAQ.MA.front.jpg" alt="FRONT & PASSENGER SIDE" class="img-responsive">
                                        </div>
                                        <div class="photo-wrapper col-lg-3">
                                            <div class="img-title">
                                                <u>2) REAR & DRIVER’S SIDE</u>
                                            </div>
                                            <img src="rest/assets/images/FAQ.MA.rear.jpg" alt="REAR & DRIVER’S SIDE" class="img-responsive">
                                        </div>
                                    </div>

                                    <p>The FRONT & PASSENGER SIDE should include the entire passenger side (bumper to bumper)
                                        showing entire front bumper. The READ & DRIVER’S SIDE should include the entire driver’s
                                        side (bumper to bumper) showing entire rear bumper.</p>

                                    <p>The EPA STICKER, usually located on the driver’s side doorjamb, will feature the VIN
                                        number, as well as additional factory information. If the EPA sticker is missing
                                        entirely, you must STILL provide a photo of the blank space on the doorjamb. Also
                                        be sure to check the “EPA Sticker is Missing” box on the Select photo(s) screen.</p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="javascript:;" data-toggle="collapse" data-target="#collapse2">Identifying the EPA sticker on your car</a>
                                </h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <h6>What is the EPA sticker?</h6>
                                    <p>Contains vehicle information such as vehicle manufacturer, vehicle weight and includes
                                        the 17 digit Vehicle Identification Number (VIN). Ensure that the VIN is clearly
                                        visible when capturing the picture of the sticker.</p>

                                    <h6>Where is the EPA sticker located on my car?</h6>
                                    <p>The EPA sticker is located on the driver's side door or doorjamb.</p>

                                    <h6>I cannot locate EPA sticker on my car, what should I do?</h6>
                                    <p>Capture the picture of driver's side doorjamb where there sticker would have been located.
                                        Also, be sure to check "EPA Sticker is Missing" box on Upload photo(s) screen.</p>

                                    <h6>How do I capture a clear photo of the EPA Sticker on my car?</h6>
                                    <p>Based on the position of the sticker on your vehicle, position your camera in the horizontal
                                        or vertical position to align with the EPA then tap the screen to focus on sticker
                                        and capture photo.</p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="javascript:;" data-toggle="collapse" data-target="#collapse3">Insured Information</a>
                                </h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>After capturing the inspection photo(s), you will need to enter your information including
                                        your insurance company name, policy # (if available), name (last, first), and full
                                        address.
                                    </p>

                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="javascript:;" data-toggle="collapse" data-target="#collapse4">Vehicle Information, Options and Accessories</a>
                                </h4>
                            </div>
                            <div id="collapse4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>You will need to enter your vehicle description information, including but not limited
                                        to; the Vehicle Identification Number (VIN), year, model and make, options and accessories.</p>

                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="javascript:;" data-toggle="collapse" data-target="#collapse5">Vehicle Physical Condition/Damage</a>
                                </h4>
                            </div>
                            <div id="collapse5" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>You will need to record any and all existing damage on your vehicle.</p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="javascript:;" data-toggle="collapse" data-target="#collapse6">Capturing Damage Photo(s)</a>
                                </h4>
                            </div>
                            <div id="collapse6" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <h6>What type of vehicle damage should I take photo(s) of?</h6>
                                    <p>
                                        <span class="underline">Any</span> and
                                        <span class="underline">all</span> damage(s) seen on the vehicle MUST be photographed and recorded in the
                                        "Vehicle Condition" section. Exterior & Interior damages, including but are not limited
                                        to: dents, dings, scratches, rust, missing hubcaps, broken/missing sections of vehicle
                                        body, glass damage, worn/torn seats, console/sound system and dashboard.</p>
                                    <p>For every section of Damage that is checked in the "Vehicle Condition" section, a corresponding
                                        damage photo MUST be taken and added to the inspection. For example: if you select
                                        “FRONT BUMPER” damage, you must first provide a separate photo of the damaged bumper.</p>
                                    <p>*Please note: you will not be able to add more than FIFTEEN (15) damage photo(s) to your
                                        inspection.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>