<div class="login-wrap">
    <div class="logo">
        <img src="rest/assets/images/logo.svg" alt="Carco">
    </div>
    <form class="form-horizontal" name="resetPassword" ng-submit="newPasswordForm.$valid && ok()">
        <div class="form-group">
            <h2 class="mb-0">Change Password</h2>
        </div>

        <div class="form-group" ng-class="{ 'has-error':resetPassword.email.$error.pattern || resetPassword.email.$error.required && resetPassword.email.$touched, 'has-success':resetPassword.email.$valid}">
            <label for="username" class="control-label">User Name</label>
            <input autocomplete="off" type="text" name="email" id="change-email" ng-disabled="OnLoadingEmail" class="form-control" ng-class="{'form-control-danger':resetPassword.email.$error.pattern || resetPassword.email.$error.required && resetPassword.email.$touched, 'form-control-success':resetPassword.email.$valid}"
                ng-model="resetPasswordInfo.USER_NAME" placeholder="Enter user name" ng-pattern="/^[^\s@]+@[a-z]+\.[^\s@]{2,}$/"
                required/>
            <span ng-show="resetPassword.email.$touched && resetPassword.email.$error.required" class="help-block">User Name is required</span>
            <span ng-show="resetPassword.email.$dirty && resetPassword.email.$error.pattern" class="help-block">Please Enter Valid User Name</span>
        </div>

        <div class="form-group" ng-class="{ 'has-error': resetPassword.oldPassword.$error.required && resetPassword.oldPassword.$touched, 'has-success':resetPassword.oldPassword.$valid}">
            <label for="oldPassword" class="control-label">Old Password</label>
            <input type="password" autocomplete="off" maxlength="15" name="oldPassword" id="oldPassword" class="form-control" ng-model="resetPasswordInfo.password"
                placeholder="Enter Old Password" required />

            <div ng-if="resetPassword.oldPassword.$touched || signupSubmitted">
                <span ng-show="resetPassword.oldPassword.$error.required" class="help-block">Old Password is required</span>
                <!-- <span ng-show="resetPassword.oldPassword.$error.minlength" class="help-block">Minimum 8 character</span> -->
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': resetPassword.newPassword.$error.pattern && resetPassword.newPassword.$touched || resetPassword.newPassword.$error.required,'has-warning':resetPassword.newPassword.$error.minlength, 'has-success':resetPassword.newPassword.$valid}">
            <label for="password" class="control-label">New Password</label>
            <input type="password" autocomplete="off" maxlength="15" name="newPassword" id="newPassword" class="form-control" ng-model="resetPasswordInfo.newPassword.new"
                placeholder="Enter New Password" ng-pattern="/^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@!#$%^&+=])(?=\S+$).{8,}$/"
                required />
            <span ng-show="resetPassword.newPassword.$touched && resetPassword.newPassword.$error.required" class="help-block">Password is required</span>
            <span ng-show="resetPassword.newPassword.$dirty && resetPassword.newPassword.$error.pattern" class="help-block">Password must be at least 8 characters including 1 uppercase letter, 1 lowercase letter, 1 number and 1 special
                character
            </span>

        </div>

        <div class="form-group" ng-class="{ 'has-error': resetPassword.newPasswordConfirm.$error || resetPassword.newPasswordConfirm.$error.required && resetPassword.newPasswordConfirm.$touched, 'has-success':resetPassword.newPasswordConfirm.$valid}">
            <label for="confirm_password" class="control-label" ng-cut="$event.preventDefault(); paste()" ng-copy="$event.preventDefault(); paste()"
                ng-paste="$event.preventDefault(); paste()">Confirm Password</label>
            <input type="password" name="newPasswordConfirm" autocomplete="off" id="confirm-password" class="form-control" ng-model="resetPasswordInfo.confirmPassword.confirm"
                value-matches="resetPasswordInfo.newPassword.new" maxlength="15" placeholder="Enter Confirm password" required/>
            <div ng-if="resetPassword.newPasswordConfirm.$touched || signupSubmitted">
                <span ng-if="resetPassword.newPasswordConfirm.$error.required" class="help-block">Confirm password is required</span>
                <span ng-if="resetPassword.newPasswordConfirm.$dirty && resetPassword.newPasswordConfirm.$invalid && resetPassword.newPasswordConfirm.$error && !resetPassword.newPasswordConfirm.$error.required"
                    class="help-block">Confirm password didn't match</span>
            </div>
        </div>

        <!-- <div class="captcha-wrapper">
            <div vc-recaptcha key="publicKey"></div>
        </div> -->

        <div class="control-group">
            <div class="controls">
                <button type="submit" button-spinner="dataLoading" ng-click="onSubmit(resetPasswordInfo)" ng-disabled="resetPassword.$invalid || dataLoading"
                    class="btn btn-secondary w-100">Submit</button>
            </div>
        </div>
    </form>
    <div class="flinks">
        <div class="pull-left">
            <a class="dropdown-toggle avatar" ng-click="goToDashbord()">Back to Dashbord </a>
        </div>
    </div>
</div>