<div class="faq mb-30">
    <section class="">
        <div class="container-fluid">
            <div class="col-lg-12 col-md-12 dashboard-widget">
                <div class="">
                    <div class="row-eq-height mt-5 clearfix">
                        <div class="col-lg-12 col-md-12 dashboard-widget">
                            <span class="headingColor">Frequently Asked Questions</span>
                            <!-- <span class="headingColor">Coming Soon...</span> -->
                        </div>
                    </div>

                    <div class="panel-group" id="accordion">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="javascript:;" data-toggle="collapse" data-target="#collapse1">What photos are required for the windshield damage inspection?</a>
                                </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>One photo is required of the full windshield view showing the damage. If the damage is
                                        not visible, a close-up photo(s) of the windshield damage is required to complete
                                        the inspection.
                                    </p>
                                    <p>Additionally, one photo is required of a close-up of the VIN plate on the dashboard.
                                        The VIN plate can be found by looking at the dashboard on the driver’s side of the
                                        vehicle.
                                    </p>
                                    <p>A maximum of ‘3’ photos may be selected for the front full windshield view and the VIN
                                        plate on dashboard, and a maximum of ‘6’ close-up windshield damage photo(s) if needed.</p>

                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="javascript:;" data-toggle="collapse" data-target="#collapse7">Where can I find my vehicle’s VIN plate on the dashboard?</a>
                                </h4>
                            </div>
                            <div id="collapse7" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>The VIN plate can be found by looking at the dashboard through the windshield on the
                                        driver’s side of the vehicle.
                                    </p>

                                    <div class="clearfix">
                                        <div class="photo-wrapper col-lg-3">
                                            <img src="rest/assets/images/VIN.png" class="img-responsive">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="javascript:;" data-toggle="collapse" data-target="#collapse2">Capturing windshield damage inspection photo(s)</a>
                                </h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Position your camera in the Landscape (horizontal) position to capture the photo(s) of
                                        the front full windshield view and close-up windshield damage. You may need to position
                                        yourself several feet away from the front of the vehicle in order to capture the
                                        full front windshield view in the photo.
                                        <strong>To prevent glare or unclear photo(s), all damage photo(s) must be taken in close
                                            proximity.
                                        </strong>
                                        Hold your camera
                                        <strong> NO MORE THAN 12 INCHES </strong> from the damaged area. See example photo displayed
                                        below:
                                    </p>
                                    <div class="clearfix">
                                        <div class="photo-wrapper col-lg-3">

                                            <img src="rest/assets/images/windshield-01.png" class="img-responsive">
                                        </div>
                                        <div class="photo-wrapper col-lg-3">

                                            <img src="rest/assets/images/windshield-02.png" class="img-responsive">
                                        </div>
                                        <div class="photo-wrapper col-lg-3">

                                            <img src="rest/assets/images/windshield-03.png" class="img-responsive">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="javascript:;" data-toggle="collapse" data-target="#collapse3">What type of windshield damage should I take a picture of?</a>
                                </h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>
                                        <span class="underline">Any</span> and
                                        <span class="underline">all</span> damage seen on the windshield MUST be photographed and recorded in the
                                        “Vehicle Condition” section. Damages include but are not limited to:</p>
                                    <ul>
                                        <li>Chips</li>
                                        <li>Cracks</li>
                                        <li>Star Cracks</li>
                                        <li>Pits</li>
                                        <li>Smashed Windshields</li>
                                    </ul>
                                    <p>For every damage photo taken, the corresponding damage must be selected or checked in
                                        the “Vehicle Conditions” section. For example: if you select “CENTER, CRACKED” damage,
                                        you must first have provided a separate photo of the crack.</p>
                                    <p> *Please note: you will not be able to add more than SIX (6) damage photo(s) to your inspection.</p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="javascript:;" data-toggle="collapse" data-target="#collapse4">The photo(s) are not dragging/dropping or uploading to the select photo(s) page.</a>
                                </h4>
                            </div>
                            <div id="collapse4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Be sure that the photo files are in JPEG or PNG format. PDF files are not compatible
                                        with this webpage.</p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="javascript:;" data-toggle="collapse" data-target="#collapse5">Navigating to the next page.</a>
                                </h4>
                            </div>
                            <div id="collapse5" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Once all required fields are completed on the inspection entry screens, you can navigate
                                        to the subsequent page. The required fields are noted with red text as REQUIRED.</p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="javascript:;" data-toggle="collapse" data-target="#collapse6">How may I acquire a copy of my windshield inspection?</a>
                                </h4>
                            </div>
                            <div id="collapse6" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>At the conclusion of the inspection, you will be emailed a copy of your report. The inspection
                                        will be emailed to the address provided in your profile. You may also view the inspection
                                        directly on your desktop.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>